# Porta do servidor
PORT=3001

# Banco de dados PostgreSQL
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/divulgarzap?schema=public"

# Redis
REDIS_HOST=127.0.0.1
REDIS_PORT=6379

# URL do frontend (CORS)
FRONTEND_URL=http://localhost:3000

# URL base do backend (para links de rastreamento)
BACKEND_URL=http://localhost:3001
